li [href="#الهدف"] {
    color: red;
}
li [href="#المهارات"] {
    color: green;
}
li [href="#الدروس"] {
    color: rgb(231, 231, 6);
}
li [href="#المشاريع"] {
    color: cyan;
}
li [href="#الورشات"] {
    color: greenyellow;
}
li [href="#المجموعات"] {
    color: magenta;
}
.red {
    color: red;
}
img[id="الهدف"] {
    height: 200px;
    width: 400px;
}
#المهارات {
    color: green;
}
#الدروس {
    color: rgb(231, 231, 6);
}
#المشاريع {
    color: cyan;
}
#الورشات {
    color: greenyellow;
}
#المجموعات {
    color: magenta;
}
.lesson {
    color: rgb(231, 231, 6);
}

.skill {
    color: green;
}

.game {
    color: magenta;
}

html {
    text-align: right;
    font-family: "calibri light";
}
table, td, tr, th, thead, tbody {
    text-align: center;
    border: 2px solid black;
}
footer {
    text-align: center;
    font-family: "calibri light";
    background-color: aquamarine;
    padding: 15px;
}
h1 {
    text-align: center;
    background-color: aquamarine;
}
.logo {
    align-items: center;
    display: flex;
    justify-content: center;
}
div.header-content {
    background-color: aquamarine;
    padding: 1px;
}
